@media screen and (min-width: 481px) and (max-width: 1199px) {
	.hero {
		height: 400px;
	}
	.section__title {
		padding-top: 60px;
		margin-bottom: 30px;
		color: var(--second-text-color);
	}
}

@media screen and (min-width: 1200px) {
    .section {
	padding-bottom: 94px;

	&:not(.about-us) {
	padding-top: 94px;
	}
}
}