

@media screen and (max-width: 480px) {
   .section:first-child {
       width: 480px;
       height: 400px;
    }
    
    .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
   .section__title {
        color: #000;
        padding-top: 60px;
        padding-bottom: 30px;
    }
}


// @media screen and (min-width: 480px) {
//     .section {
//        margin-bottom: 60px;
//     }
// }

// @media screen and (min-width: 768px) {
//  .section {
//      margin-bottom: 60px;
//  }
//  .list {
// 	flex-wrap: wrap;
//  }
// }

// @media screen and (min-width: 1200px) {
//     .section {
// 	padding-bottom: 94px;
//     margin: 0 auto;

// 	&:not(.about-us) {
// 	padding-top: 94px;
// 	}
//     }
// }
